@import "../../utils/colors.scss";

.Background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.NavigationButton {
  color: $white;
  font-size: 4rem;
  transition: all 0.2s;
  background-color: transparent;
  &:hover {
    color: $green;
  }
}

.Nav {
  position: fixed;
  top: 7rem;
  right: 5rem;

  padding: 1rem 2rem;

  color: $greenLight;

  text-align: left;
  font-size: 2rem;

  box-shadow: inset 0 0 0.2rem $red;
  background-color: rgba($greenDark, 1);

  transition: all 0.2s;
  & > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 50vh;

    list-style: none;
    padding: 1rem 3rem;
    font-size: 1.6rem;

    & > li {
      position: relative;
      padding: 1rem 2rem;
      box-shadow: inset 0 0 1rem $green;
      transition: all 0.2s;

      text-align: center;

      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover {
        box-shadow: none;
        transform: translateY(-2px) translateX(2px);
        color: $greenLight;
        &::after {
          box-shadow: 0 0 4rem $green;
        }
      }

      &:active {
        transform: translateY(0) translateX(0);
        box-shadow: inset 0 0 1rem $green;
        color: $white;
        &::after {
          box-shadow: 0 0 0.5rem $green;
          border: none;
        }
      }
    }
  }
}
