@import "../../utils/colors.scss";

.Home {
  padding: 2rem 4rem;
  background-image: linear-gradient(
      to right,
      rgba($blueDark, 0.96),
      rgba($purpleDark, 0.96),
      rgba($blueDark, 0.96)
    ),
    url("../../images/background.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Title {
  margin-top: 10rem;
  text-align: center;
  & > h1 {
    margin-bottom: 2rem;
    font-family: "Amatic SC", cursive;
    font-size: 9rem;
    color: $gold;
    text-shadow: 0 0 5rem $red;
  }
  & > h2 {
    color: $red;
    font-size: 4rem;
    letter-spacing: 0.9rem;
    text-shadow: 0 0 5rem $red;
    font-family: "Special Elite", cursive;
  }
}

.Panels {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 10rem;
}
